body { 
  margin: 0;
  padding: 0;
  background-color: rgba(211, 211, 211, 0.713);
  font-family: Arial, Helvetica, sans-serif;} /* zorgt ervoor dat het lettertype van de body arial is */


h2,p,h3 { 
background-color: #333333; /* zorgt  ervoor  dat de achtergrondkleur van heading 2, heading 3 en paragrafen zwart is*/
margin: 18px; /* zorgt  ervoor  dat de margin (lege ruimte buiten een element) van heading 2, heading 3 en paragrafen 18px is*/
padding: 10px; /*zorgt ervoor dat de padding (vulling) van heading 2, heading 3 en paragrafen 10px is*/
width:60%; /* zorgt ervoor dat de tekstblokjes van heading 2,heading 3 en paragrafen 60% van de pagina vullen*/
color: white;  /* zorgt ervoor dat de letters van heading 2,heading 3 en paragrafen wit gekleurd zijn*/
border: 2px solid rgba(211, 211, 211, 0.713)} /* zorgt ervoor dat heading 2, heading 3 en paragrafen een solide, grijze rand krijgt */


ul {
  list-style-type: none; /*verwijderd de "bolletjes" van een unordered list*/
  margin: 0;
  padding: 0;
  overflow: hidden; /*zorgt ervoor dat inhoud die buiten de grenzen van een element valt, wordt afgeknipt en verborgen*/
  background-color: #333333; 
  border: 2px solid #333333;}

ul li {
float: left;} /* zorgt ervoor dat de linkjes van de unordered list links van zijn container wordt geplaatst*/

ul li a { 
  display: block; /* zorg ervoor dat de anchor in je unordered list wordt gedepicteerd als een blok/vierkant */
  color: white; 
  text-align: center; /* Centreert de tekst horizontaal binnen de grenzen van het element in de blok. */
  padding: 14px 16px;
  text-decoration: none;} /* zorgt ervoor dat alle textdecoraties worden genegeerd */


ul li a:hover 
{ background-color: rgb(21, 21, 21);} /* zorgt ervoor dat wanneer je met je muis over het linkje gaat van de unordered list, dat hij zwarter kleurd */ 

head { font-family: Arial, Helvetica, sans-serif;} 

img{ 
border:2px solid rgba(211, 211, 211, 0.713)} /* zorgt ervoor dat alle afbeeldingen een solide, grijze rand krijgt */

.image-1{
margin: 18px;} /* zorgt ervoor dat afbeeldingen met de class:"image-1" een margin van 18px krijgen */


.invoer-verwerking-uitvoer {
 width:160%;} /* Geeft aan dat de with  van een contiainer genaamd "invoer-verwerking-uitvoer 160% is van de 60% width die hierboven was weergegeven.*/
 
.kleurmodellen {
 width:160%;}

 .compressie {
 width:160%;}

 
.klein-compressie {
width: 80%; /* Geeft aan dat de with  van een contiainer genaamd "invoer-verwerking-uitvoer 80% is van de 60% width die hierboven was weergegeven.*/
margin-right:0px;  /* Zorgt ervoor dat afbeeldingen die class: "klein compressie" heeft een margin van 0 pixels heeft aan de rechter kant. */
padding: right 0px;} /* Zorgt ervoor dat afbeeldingen die class: "klein compressie" heeft een padding van 0 pixels heeft aan de rechter kant. */
 

#vector-en-bitmapafbeelding {
margin-right: 18px; /* Zorgt ervoor dat afbeeldingen die id: "vector-en-bitmapafbeeldingen" een margin van 18 pixels heeft aan de bovenkant. */
margin-top: 0px; /* Zorgt ervoor dat afbeeldingen die id: "vector-en-bitmapafbeeldingen" een margin van 0 pixels heeft aan de rechter kant. */
float:right; /* Zorgt ervoor dat afbeeldingen die id: "vector-en-bitmapafbeeldingen" rechts wordt geplaatst. */
padding: 0px;}


footer{
display: block;
margin-top: 250px;
}



